<table>
    <tr valign="top">
        <td>{{post.user_id}}</td>
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>            
            says:<br>{{ post.body }}
        </td>
    </tr>
</table>